# Основной фреймворк
flask

# Для работы с базами данных
flask-sqlalchemy

# Для удобных форм (логин, регистрация)
flask-wtf

# Улучшенная отладка и интерактивная оболочка
python-dotenv
flask-shell-pro

# HTTP-запросы
requests
